.top
  .top__message
    グループを作成しました
= render 'shared/side_bar'

.main
  .main-up
    .main-up__box
      %h2.main-up__box__group
        test-group
      %ul.main-up__box__member
        Member:
        %li.main-up__box__member__name
          test-user
    .main-up__edit
      Edit
  .main-middle
    .main-middle__box
      .main-middle__box__user
        %p.main-middle__box__user__name
          test-user
        %p.main-middle__box__user__date
          0000/0000/0000(#)
      %p.main-middle__box__message
        こんにちは！
  .main-low
    = form_for [@group, @message], :url => {:controller => :messages, :action => :create} do |f|
      .main-low__form
        .main-low__form__input
          = f.text_field :body, class: 'main-low__form__input__text', placeholder: 'type a message'
          = f.label :image, class: 'main-low__form__input__image' do
            = fa_icon 'image', class: 'main-low__form__input__image__icon'
            = f.file_field :image, class: 'main-low__form__input__image__file'
        = f.submit 'Send', class: 'main-low__form__submit'