.top
  .top__message
    グループを作成しました
= render 'shared/side_bar'

.main
  .main-up
    .main-up__box
      %h2.main-up__box__group
        = current_user.name
      %ul.main-up__box__member
        Member:
        %li.main-up__box__member__name
          -@group.users.each do |user|
            = user.name
    .main-up__edit
      = link_to 'Edit', edit_group_path(current_user)
  .main-middle
    = render @messages
  .main-low
    = form_for [@group, @message], url: {controller: "messages", action: "create"}, id: "new_message"  do |f|
      .main-low__form
        .main-low__form__input
          = f.text_field :body, class: 'main-low__form__input__text', placeholder: 'type a message'
          = f.label :image, class: 'main-low__form__input__image' do
            = fa_icon 'image', class: 'main-low__form__input__image__icon'
            = f.file_field :image, class: 'main-low__form__input__image__file'
        = f.submit 'Send', class: 'main-low__form__submit'